name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev libsdl2-gfx-dev xvfb lua5.4 liblua5.4-dev valgrind
    - name: Run C tests
      run: make tests
    - name: Build Lua bindings
      run: make -C lua pico_native.so
    - name: Run Lua tests
      run: make -C lua tests
    - name: Upload test screenshots on failure
      #if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: test-screenshots
        path: tst/out/*.png
